# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Virtual environment
myenv/

# OS files
.DS_Store
*.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# LangChain/experiment artifacts
.cache/
.cache_langchain/
langchain.db

# pip-tools
requirements*.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pyre type checker
.pyre/

# Local data